<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Frogy</title>
</head>
<body>
    <div id="app">
            <div class="container">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="endDiv"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="left-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div class="right-log"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="right-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="left-car"></div>
                <div class="startDiv"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="startDiv"></div>
                <div></div>
                <div></div>
                <div></div>
             
            </div>
             
        <!-- <div v-if="showBook">
       <p>{{ title }} - {{ age }} - {{ blob }}</p>
       <button v-on:click="age++">Increase age</button>
       <button v-on:click="age--">Decrease age</button>
       < @click="title = 'something else'">Change Book title</div> -->
       <!-- < @click="changeTitle('oatseater')">Change Book title</div> -->
    </div>

    <!-- <button @click="toggleBooks"> -->
        <!-- <span v-if="showBook">Hide Book</span>
                 <span v-if="!showBook">Hide Book</span> -->
        <!-- <span v-else="!showBook">Show Book</span> -->
        <!-- <span>Show Book</span> -->
    <!-- </button> -->
    <!-- < v-show="showBook">currently doing this</div> -->


    <!-- < class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
    <iv class="box" @mouseleave="handleEvent">mouseleave </div>
    <iv class="box" @dblclick="handleEvent">double click</div>
    <iv class="box" @mousemove="handleMouse">position - {{x}} {{y}}</div>

     --> 
    <!-- </div> -->

   <script src="app.js"></script>
</body>
</html>